@import 'app-theme/_variables.scss';
.kMediaAssetsTypesTable {
  background-color: white;
  overflow-y: hidden;
  position: absolute;
  padding: 0px;
  .kTitle {
    color: $kGrayscale1;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: #000000;
    }
    &.disable {
      color: $kGrayscale4;
      cursor: auto;
    }
  }
  .kI {
    font-style: italic;
    padding-left: 16px;
  }
}

:host {
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
  flex-direction: column;
}
