<k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
  <div class="kMediaTypes kOverrideFAIcons">
    <div #MediaTypesTableHolder class="kMediaTypesHolder kContent">
      <div class="kMediaTypesTableFilters">
        <span class="kSelectedMediaTypesNum" *ngIf="_MediaTypesTotalCount">
                {{_MediaTypesTotalCount}} {{'applications.settings.metadataTemplates.items' | translate}}
        </span>
      </div>
      <kMediaAssetsTypesTable class="kMediaTypesTable" [mediaAssetsTypes]="_MediaTypes" [filter]="_filter" (actionSelected)="_onActionSelected($event)">
      </kMediaAssetsTypesTable>
    </div>
  </div>
</k-area-blocker>
