<k-area-blocker [message]="_blockerMessage">
  <div class="kMediaAssetsTypesTable" [class.noResults]="!_mediaAssetsTypes.length">
    <p-dataTable #dataTable [value]="_mediaAssetsTypes" dataKey="id" [rowTrackBy]="rowTrackBy" emptyMessage="{{_emptyMessage}}"
      [sortField]="filter.sortBy" [sortOrder]="filter.sortDirection | kPrimeTableSortDirection" scrollable="true" scrollHeight="100%">

      <p-column field="systemName" header="" [style]="_getColumnStyle(_columns.assetType)">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <div [kTooltip]="row[col.field] | kMediaAssetType: true" [class]="row[col.field] | kMediaAssetType: false"></div>
        </ng-template>
      </p-column>


      <p-column field="name" [header]="'applications.settings.table.name' | translate" [style]="_getColumnStyle(_columns.name)">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <span [kTooltip]="row.Name" class="kTitle" (click)="onActionSelected('edit',row.id)">
              {{row[col.field]}} </span>
          <span class="kI">{{row.isProtected | kIsProtected}}</span>
        </ng-template>
      </p-column>
      <p-column field="id" [header]="'applications.settings.table.id' | translate" [sortable]="false" [style]="_getColumnStyle(_columns.id)"></p-column>
      <p-column field="updateDate" [header]="'applications.settings.table.lastModified' | translate" [sortable]="false" [style]="_getColumnStyle(_columns.updateDate)">
        <ng-template let-col let-row="rowData" pTemplate="body">
          <span>{{ row[col.field]  | kUtcDate}}</span>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</k-area-blocker>
