<div #appmenu class="appMenu">

  <div class="k-logo"></div>

  <div *ngFor="let item of menuConfig">
    <a *ngIf="item.titleToken.length" [routerLinkActive]="['activeLink']" [routerLink]="['/'+item.routePath]" [class.disabled]="!item.enabled">{{'app.menu.'+item.titleToken | translate | uppercase}}</a>
  </div>

  <div>
    <div class="kStudio">
      <i class="kStudioItem kIconshare"></i>
      <a class="kStudioItem">STUDIO</a>
    </div>
  </div>

  <div class="kMenu-right">
    <i class="kIconuser"></i>
    <i class="kIcongear" (click)="navigate('/settings')" [class.open]="selectedMenuItem?.routePath==='settings'"></i>
    <i #help class="kIconhelp" [class.open]="_helpOpen"></i>
  </div>
  <div class=kSeparator></div>
  <div #username class="kUserName">
    <span class="kFullName">{{_userContext.fullName}}</span>
    <i class="kIcondropdown_arrow_bottom"></i>
  </div>
</div>

<div class="appSubMenu" *ngIf="selectedMenuItem && showSubMenu && selectedMenuItem.children">
  <div class="kContent kSubMenuHolder">
    <kTVMAppContentMenu class="kSubMenu" position="left" [menuItems]="selectedMenuItem.children"></kTVMAppContentMenu>
    <kTVMAppContentMenu class="kSubMenu" position="right" [menuItems]="selectedMenuItem.children"></kTVMAppContentMenu>
  </div>
</div>

<kPopupWidget #usersettings [appendTo]="appmenu" [popupWidth]="240" [popupHeight]="226" [closeBtn]="false" [targetRef]="username"
  [targetOffset]="{'x':-50, 'y': 30}" (onOpen)="username.className='kUserName open'" (onClose)="username.className='kUserName'">
  <kKMCUserSettings></kKMCUserSettings>
</kPopupWidget>

<kPopupWidget #helpmenu [showTooltip]="true" [appendTo]="appmenu" [popupWidth]="100" [popupHeight]="50" [closeBtn]="false"
  [targetRef]="help" [targetOffset]="{'x':-38, 'y': 35}" (onOpen)="_helpOpen=true" (onClose)="_helpOpen=false">
  <div style="margin-top:10px;text-align:center">S.O.S</div>
</kPopupWidget>