<k-area-blocker [showLoader]="_showLoader" [message]="_areaBlockerMessage">
  <div class="kTypeMetadata kOverrideFAIcons" [class.isSafari]="isSafari">
    <div class="kContent kTypeMetadataWrapper">
      <div class="kTypeMetadataHeader">
        <button pButton class="kButtonDefault kBackToTypeMetadataListBtn small" icon="kIconarrow_backward" (click)="_backToList()"></button>
        <div class="kTypeMetadataTitle">{{ _structHeader }}</div>
        <button pButton class="kButtonBranded kSaveBtn" [disabled]="true" label="Save" (click)="_save()"></button>
      </div>

      <div class="kTypeMetadataPreview">
        <k-asset-type-preview></k-asset-type-preview>
      </div>

      <div class="kDetailsMain">
        <div class="kSections">
          <kAssetTypeSectionsList></kAssetTypeSectionsList>
        </div>
        <div class="kDetailsContent">
          <router-outlet></router-outlet>
        </div>
      </div>
      <div class="kSpacer"></div>
    </div>
  </div>
</k-area-blocker>
